.main-box {
  background-color: grey;
}

.file-upload-box {
  background-color: white;
  width: 90%;
  height: 90%;
  padding: 20px;
  border-radius: 30px;
}

.file-upload-box-form {
  width: 100%;
  height: 100%;
}

.leave-button {
  background-color: #1d3d66;
  color: white;
  border-radius: 6px;
  height: 2rem;
  width: 2rem;
  font-size: 1rem;
}

.title-file-upload {
  text-align: center;
  margin-bottom: 2rem;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 1.2rem;
  text-decoration-color: #dfe0e6;
  text-decoration-thickness: 2px;
  color: #1d3d66;
}

.file-uploaded-text {
  display: flex;
  justify-content: space-between;
}

.radio-social-distancing .form-check-input {
  display: none;
}

.radio-social-distancing .form-check-label {
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
}

.radio-social-distancing .form-check-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  border: 2px solid #1d3d66;
  border-radius: 50%;
  background-color: white;
}

.radio-social-distancing .form-check-input:checked + .form-check-label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #1d3d66;
}

.special-text {
  color: #1d3d66;
}

.special-text-bold {
  color: #1d3d66;
  font-weight: bold;
}

.sucess-text {
  color: #4db56a;
  font-weight: 500;
}

.shorter-hr {
  width: 57%;
}

.file-name-grey {
  color: #b3b3b3;
}

.progress-custom {
  height: 3px;
}
.progress-bar-custom-color {
  background-color: #fa9c27;
}

.clients-select-style {
  outline: none;
  width: auto;
}

.button-continue {
  margin-top: 20px;
  background-color: #1d3d66;
  color: white;
  width: 250px;
  height: 40px;
  font-weight: 400;
  border-radius: 10px;
}
.button-cancel {
  margin-top: 20px;
  background-color: white;
  color: #fa9c27;
  border: 3px solid #fa9c27;
  width: 250px;
  height: 40px;
  font-weight: 400;
  border-radius: 10px;
}
