.main-box {
  background-color: grey;
}

.file-upload-box {
  background-color: white;
  width: 120vw;
  height: 90vw;
  max-width: 120vh;
  max-height: 90vh;
  padding: 20px;
  border-radius: 30px;
}

.leave-button {
  top: 10px;
  right: 10px;
  background-color: #1d3d66;
  color: white;
  border-radius: 15px;
  height: 45px;
  width: 45px;
  font-size: 25px;
}

.title-file-upload {
  text-align: center;
  margin-bottom: 3rem;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 1.2rem;
  text-decoration-color: #dfe0e6;
  text-decoration-thickness: 2px;
  color: #1d3d66;
}

.file-uploaded-text {
  display: flex;
  justify-content: space-between;
}

.radio-social-distancing .form-check-input {
  display: none;
}

.radio-social-distancing .form-check-label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
}

.radio-social-distancing .form-check-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  border: 3px solid #1d3d66;
  border-radius: 50%;
  background-color: white;
}

.radio-social-distancing .form-check-input:checked + .form-check-label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #1d3d66;
}

.special-text {
  color: #1d3d66;
  font-weight: bold;
}

.shorter-hr {
  width: 57%;
}
